.empty-state.nominations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
}

.empty-state.nominations.nominations img {
  margin-top: 1.5rem;
  height: 88px;
}

.movies-pagination {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

@media only screen and (max-width: 600px) {
  .nominated-heading {
    padding: 0 1.5rem;
  }

  .movie-card-container .Polaris-Stack {
    flex-direction: column;
  }
}